<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- config fragment 사용 -->
	<th:block th:replace="fragment/config :: configFragment"></th:block>
</head>
<body class="stretched">
	<div id="wrapper" class="clearfix">
		<!-- header fragment 사용 -->
		<th:block th:replace="fragment/header :: headerFragment"></th:block>
		
		<!-- content fragment 사용, 현재 layout을 사용하는 content fragment의 내용을 삽입한다. -->
		<th:block layout:fragment="content"></th:block>
	</div>
	
	<!-- Go To Top -->
	<div id="gotoTop" class="icon-angle-up"></div>
	
	<!-- config fragment 사용 -->
	<th:block th:replace="fragment/script :: scriptFragment"></th:block>
	
	<!-- Content Page의 script fragment 삽입 -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>