@charset "EUC-KR";

/*----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/
.top-links-item>div {
	display: block;
	padding: 12px;
	line-height: 20px;
	color: #666;
}

/*----------------------------------------------------------------
	Page Header
-----------------------------------------------------------------*/
.page-header {
	background: url(../../images/sections/3.jpg) no-repeat top center;
	background-size: cover;
	padding: 40px 0 0;
}

.page-header-title {
	line-height: 1.2!important;
	letter-spacing: -1px!important;
}

.page-header-sub-title {
	font-size: 12px!important;
	letter-spacing: 0;
	max-width: 600px!important;
	font-weight: 400!important;
	color: #888!important;
}

/*----------------------------------------------------------------
	Content
-----------------------------------------------------------------*/
/* @media ( min-width : 768px) {
	.min-vh-md-100 {
		min-height: 60vh !important;
	}
}

.page-menu-title, .page-menu-item>a {
	font-weight: 600;
}

#page-title {
	padding: 3rem 0;
}

.content-wrap {
	padding: 0;
}

.section {
	margin: 0;
} */

/*----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/
/* .copyrights, .copyrights a {
	font-size: 0.875rem;
	color: rgba(255, 255, 255, 0.4) !important;
} */
@media ( max-width : 768px) {
	.copyrights, .copyrights a {
		font-size: 10px!important;
	}
	.footer-widgets-wrap, .footer-widgets-wrap h3 {
		font-size: 10px!important;
	}
	/* .footer-widgets-wrap i {
		font-size: 1rem!important;
	} */
}

#footer .footer-widgets-wrap {
	padding: 20px 0;
}

/*----------------------------------------------------------------
	Table
-----------------------------------------------------------------*/
.table td {
	/* border-top: 1px dotted #dee2e6; */
}

.table, .dataTables_info, .paginate_button {
	font-size: 0.875rem;
}

.datatable-footer {
    padding: 1.25rem 1.25rem 0 1.25rem;
}