<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
      
	<th:block layout:fragment="content">
		<div class="section my-0 page-header">
			<div class="container">
				<div class="heading-block border-bottom-0 center">
					<h3 class="nott ls0" style="line-height: 1.2; letter-spacing: -1px;">공지사항 상세정보</h3>
					<span style="font-size: 12px; letter-spacing: 0; max-width: 600px; font-weight: 400; color: #888;">
					 	Home / 알립니다 / 상세정보
					</span>
				</div>
				
				<div class="clearfix px-md-5">
				
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="script">
        <script th:src="@{/js/pages/notice.js}"></script>
	</th:block>
</html>