<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
      
<th:block layout:fragment="content">
	<div class="section my-0 page-header">
		<div class="container">
			<div class="heading-block border-bottom-0 center">
				<!-- <div class="badge badge-pill badge-default">Testimonials</div> -->
				<h3 class="nott ls0" style="line-height: 1.2; letter-spacing: -1px;">공지사항</h3>
				<span style="font-size: 12px; letter-spacing: 0; max-width: 600px; font-weight: 400; color: #888;">
				 	Home ㆍ 알립니다
				</span>
			</div>
			
			<div class="clearfix px-md-5">
				<table class="table" id="noticeTable">
				  	<thead class="text-center">
						<tr>
					  		<th>번호</th>
					  		<th>글제목</th>
					  		<th>작성자</th>
					  		<th>작성일</th>
					  		<th>조회</th>
						</tr>
				  	</thead>
				  	<tbody  class="text-center"></tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>
</html>