<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
      
<th:block layout:fragment="content">
	<section id="page-title">
		<div class="container clearfix">
			<h1>공지사항</h1>
			<span></span>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">알립니다</li>
			</ol>
		</div>
	</section>
		
	<section id="content">
		<div class="content-wrap">
			
		</div>
	</section>
</th:block>
</html>