<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
      
	<th:block layout:fragment="content">
		<div class="section my-0 page-header">
			<div class="container">
				<div class="heading-block border-bottom-0 center">
					<h3 class="nott ls0 page-header-title">Family</h3>
					<span class="page-header-sub-title">
					 	Home > 알립니다 > Family
					</span>
				</div>
				
				<div class="clearfix px-md-5">
					
				</div>
			</div>
		</div>
	</th:block>
</html>