<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- configFragment 선언 -->
<th:block th:fragment="configFragment">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- <link rel="shortcut icon" th:href="@{/images/favicon.ico}"> -->
	<title>YSC평생교육원</title>
	
	<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
	
	<!--  Stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link th:href="@{/canvas/css/bootstrap.css}" rel="stylesheet"/>
	<link th:href="@{/canvas/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/canvas/css/swiper.css}" rel="stylesheet"/>
	<link th:href="@{/canvas/css/dark.css}" rel="stylesheet"/>
	<link th:href="@{/canvas/css/font-icons.css}" rel="stylesheet"/>
	<link th:href="@{/canvas/css/animate.css}" rel="stylesheet"/>
	<link th:href="@{/canvas/css/magnific-popup.css}" rel="stylesheet"/>
	<!-- / Stylesheets -->
		
	<!-- Common stylesheets -->
	<link th:href="@{/css/common/common.css}" rel="stylesheet"/>
	<!-- /Common stylesheets -->

	<!-- Content Page의 CSS fragment 삽입 -->
	<th:block layout:fragment="css"></th:block>
</th:block>
</html>