<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
      
<th:block layout:fragment="content">
	<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 include-header">
		<div class="slider-inner" th:style="'background: #FFF url(' + @{/images/sections/hero-1.jpg} + ') center center no-repeat; background-size: cover;'">
			<div class="vertical-middle slider-element-fade">
				<div class="container py-5">
					<div class="row pt-5">
						<div class="col-lg-5 col-md-8">
							<div class="slider-title">
								<div class="badge badge-pill badge-default">SEO Ready</div>
								<h2>Improve your SEO with Data.</h2>
								<h3 class="text-rotater mb-2" data-separator="," data-rotate="fadeIn" data-speed="3500">- Boost your own <span class="t-rotate">Awesome,Beautiful,Great</span> Website.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia vitae mollitia dignissimos ab qui aspernatur.</p>
								<a href="#" class="button button-rounded button-large nott ls0">Get Started</a>
								<a href="#" class="button button-rounded button-large button-light text-dark bg-white border nott ls0">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="video-wrap h-100 d-block d-lg-none">
				<div class="video-overlay" style="background: rgba(255,255,255,0.85);"></div>
			</div>
		</div>
	</section>

	<section id="content">
		<div class="content-wrap pt-0">
			<div class="section center my-0 clearfix" style="padding: 60px 0 30px 0; background-color: #FFF;">
				<div class="container clearfix">
					<div class="row">
						<div class="col-md-3">
							<div class="counter color" style="line-height: 1.1;">
								<span data-from="1" data-to="120" data-refresh-interval="50" data-speed="1000"></span>
							</div>
							<h3><span class="subtitle nocolor ls0" style="font-size: 14px;">After School (2020년)</span></h3>
						</div>

						<div class="col-md-3">
							<div class="counter color" style="line-height: 1.1;">
								<span data-from="1" data-to="10300" data-refresh-interval="20" data-speed="1000"></span>명
							</div>
							<h3><span class="subtitle nocolor ls0" style="font-size: 14px;">Member (7월)</span></h3>
						</div>

						<div class="col-md-3">
							<div class="counter color" style="line-height: 1.1;">
								<span data-from="0" data-to="38" data-refresh-interval="50" data-speed="1000"></span>
							</div>
							<h3><span class="subtitle nocolor ls0" style="font-size: 14px;">Partner</span></h3>
						</div>

						<div class="col-md-3">
							<div class="counter color" style="line-height: 1.1;">
								<span data-from="1" data-to="2" data-refresh-interval="50" data-speed="1000"></span>
							</div>
							<h3><span class="subtitle nocolor ls0" style="font-size: 14px;">Campus After (창원,진주)</span></h3>
						</div>
					</div>
				</div>
			</div>
		
			<div class="section m-0" th:style="'background: url(' + @{/images/sections/5.jpg} + ') no-repeat center center; background-size: cover;padding: 80px 0;'">
				<div class="container">
					<div class="heading-block border-bottom-0 center">
						<div class="badge badge-pill badge-default">Completed Projects</div>
						<h3 class="nott ls0">Our Latest Works</h3>
					</div>
					
					<div id="portfolio" class="portfolio row grid-container gutter-20">
						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-media pf-icons">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img th:src="@{/images/works/1.jpg}" alt="The Atmosphere">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
											<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="#">The Atmosphere</a></h3>
									<span>Digital Marketing</span>
								</div>
							</div>
						</article>
						
						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-illustrations">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img th:src="@{/images/works/2.jpg}" alt="Wavelength Structure">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
											<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Wavelength Structure</h3>
									<span>SEO</span>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
</html>