<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
      
<th:block layout:fragment="content">
	<section id="page-title">
		<div class="container clearfix">
			<h1>로그인</h1>
			<span></span>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Login</li>
			</ol>
		</div>
	</section>
	
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">
				<form id="login-form" name="login-form" class="mx-auto mb-0" action="#" method="post" style="max-width: 480px;">
					<h3>Login to your Account</h3>
					<div class="row">
						<div class="col-12 form-group">
							<label for="login-form-username">사용자 이름:</label>
							<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control">
						</div>

						<div class="col-12 form-group">
							<label for="login-form-password">비밀번호:</label>
							<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control">
						</div>

						<div class="col-12 form-group">
							<button class="button button-3d btn-block button-teal m-0" id="login-form-submit" name="login-form-submit" value="login">로그인</button>
						</div>
						
						<div class="col-12 form-group">
							<a href="#" class="float-right">Forgot Password?</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</th:block>
</html>